
body, html{
    height: 100%;
    background-image: url("/public/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1{
    font-size: 7vw;
    color: #827717;
}

.flex-container {
    display: flex;
}

.dark-text{
    color: #827717 !important;
}

.dark-text:hover{
    color: #9e9d24 !important;
}

.black-text{
    color: #212121 !important;
}

.back-text:hover{
    color: #827717 !important;
}

#index-card{
    margin-top: 8vw;
    margin-left: 5vw;
}

#welcome-page{
    margin-top: 7%;
}

.form-container{
    width: 50%;
    margin-top: 5%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #f0f4c3;
}

.title{
    padding: 20px; 
    background-color: #9e9d24;
    color: #fff;
    font-size: 20px;
}

/* label focus color */
.input-field input:focus + label {
    color: #db2b39 !important;
}
/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #db2b39 !important;
    box-shadow: 0 1px 0 0 #db2b39 !important
}

.btn{
    background-color: #9e9d24;
}

.btn:hover{
    background-color: #9e9d24;
}

#btn-save-book{
    width: 100%;
    background-color: #db2b39;
}

.row{
    padding-left: 30px;
    padding-right: 30px; 
}

.accent-color{
    background-color: #db2b39 !important;
}

.table-container{
    margin-top: 3vw;
    background: #f9fbe7;
}

.menu-container{
    margin-top: 3vw;
}

.btn-generate{
    background-color: #db2b39;
    font-size: 20px;
    width: 180px; 
    height: auto;
    padding-right: 40px; 
    padding-left: 40px; 
    padding-top: 10px; 
    padding-bottom: 10px;
}

.btn-generate:hover{
    background-color: #ff6463 !important;
}

