#{extends 'main.html' /}
<?xml version = "1.0"?>

<div class="container row">
    <div class="col s12 m4 l2">
        <div class='menu-container'>
            <button type='button' class='btn btn-generate'
                    id='xml'>
                <i class='small material-icons'>archive</i>
                XML
            </button>
            <button type='button' class='btn btn-generate'
                    id='pdf'>
                <i class='small material-icons'>picture_as_pdf</i>
                PDF
            </button>
        </div>
    </div>
    <div class="col s12 m4 l10">
        <div class='table-container'>
            <table id='books' class='table'>
                <thead class='title'>
                    <tr>
                        <th>ISBN</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    #{list items: books, as: 'book'}
                    <tr>
                        <td>${book.ISBN}</td>
                        <td>${book.name}</td>
                        <td>${book.author}</td>
                        <td>
                            <a id='deleteBook' class='black-text' href='/delete/${book.id}'><i class="small material-icons">clear</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class='black-text' href='/edit/${book.id}'><i class="small material-icons">edit</i></a>
                        </td>
                    </tr
                    #{/list}

                </tbody>
            </table>
        </div>
    </div>

    <script>
        document.getElementById("deleteBook").onclick = function() {
            toast("Book deleted!")
        }

        document.getElementById("xml").onclick = function() {
            location.href = '/generate/xml'
            toast("Generating!")
        }

        document.getElementById("pdf").onclick = function() {
            location.href = '/generate/pdf'
            toast("Generating!")
        }

        function toast(message) {
            M.toast({html: message})
        }
    </script>
