#{extends 'main.html' /}

<div class="container form-container">
    <div class="row title">
        New book
    </div>
    #{ifErrors}
        <p>Error(s) found!</p>
    #{/ifErrors}
    <div class="row">
        <form 
            action='@{Books.AddBook}'
            id='submitBook' 
            class="col s12">
            <div class="row">
                <div class="input-field">
                    <input placeholder="9783161484100" 
                           name="isbn"
                           required
                           pattern="[0-9]+"
                           id="isbn" type="text" class="validate">
                    <label for="isbn">ISBN</label>
                    <span class="helper-text" data-error="Only numbers!" data-success="Correct">13 numbers</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input placeholder="Percy Jackson"
                           name="name"
                           required
                           id="name" type="text" class="validate">
                    <label for="name">Book Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input placeholder="Rick Riordan"
                           name="author"
                           required
                           id="author" type="text" class="validate">
                    <label for="author">Author</label>
                </div>
            </div>
            <input type='submit' id='btn-save-book' class='btn' value="Save book">
        </form>
    </div>

</div>

<script>
    document.getElementById("submitBook").onsubmit = function() {toast()};
    
    function toast(){
       M.toast({html: 'Book added!'})
    }
</script>

