#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container">
    <div class="flex-container">
        <div><h1>Keep track of your books</h1></div>
        <div>
            <div class="col s12 m6">
                <div class="card lime">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
