<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <!--Materialize-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
    </head>
    <header>
        <nav>
            <div class="nav-wrapper lime darken-3">
                &nbsp&nbsp&nbsp&nbsp<a href="/" class="brand-logo"><i class="material-icons">local_library</i>YourBooks</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <!--
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                        -->
                    </li>
                    <li><a href="/new/book"><i class="material-icons">add_box</i></a></li>
                    <li><a href="/new/list"><i class="material-icons">view_module</i></a></li>
                </ul>

            </div>
        </nav>
    </header>
    <body>
    <main>
        #{doLayout /}
        <!-- JQuery-->
        <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
        <!-- Materialize -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Data table -->
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/b-print-1.5.4/datatables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <!-- Project scripts -->
        <script src="@{'public/javascripts/main.js'}" type="text/javascript"></script>
        <script src="@{'public/javascripts/table.js'}" type="text/javascript"></script>
        #{get 'moreScripts' /}
    </main>
</body>

</html>
